mat-toolbar.mat-toolbar.mat-toolbar-single-row {border-bottom:10px solid #F47753;justify-content:center;background-color:#5C93CE;height: 100px;}
mat-toolbar.mat-toolbar.mat-toolbar-single-row span {font-size:30px;}
