<div class="pageWrap">
    <app-header></app-header>
    <div id="innerPageWrap" style="width: calc(100vw - 30px);">
    <div class="left" style="border-right:15px solid #F47753;height:100%;width:100%;justify-content:center;display:flex;align-items:center;">
        <app-left-page></app-left-page>
    </div>
    <div class="right" style="border-left:15px solid #F47753;height:100%;width:100%;justify-content:center;display:flex;align-items:center;">
        <app-right-page></app-right-page>
    </div>
    </div>
    </div>
    
    